@import "../../../../styles/variables";

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  row-gap: 15px;

  margin-top: auto;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include setTextStyle(700, 18px, 100%);
    color: $white-color;

    background: $btn-active;
    mix-blend-mode: normal;

    margin-top: auto;
    margin-right: 15px;
    padding: 21px 48px;

    max-height: 60px;

    border: none;
    border-radius: $border-radius-8;

    transition: all $transition-long ease;

    &:hover {
      color: $white-color;
      background: $base-color;
      mix-blend-mode: normal;

      transition: all $transition-long ease;
    }
  }
}