@import "../../../../styles/variables";

.orderButton {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include setTextStyle(900, 18px, 100%);
  color: $white-color;
  text-align: center;
  text-transform: uppercase;

  max-width: 407px;
  height: 60px;

  padding: 21px 112px;

  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  border-radius: $border-radius-8;
  background-size: 200%;

  transition: all $transition-long ease;

  &:hover {
    background: linear-gradient(182.84deg, #ffb800 -47.72%, #ff8a00 136.81%);

    transition: all $transition-long ease;
  }
}