@import "../../../styles/variables";

.login {
  padding-top: $header-max-height + $padding-top + 40px;

  font-size: 26px;

  min-height: 100vh;

  background: url('../../../../public/images/login/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}