@import "../../../App/styles/variables";

.buttonLogin {
  @include setTextStyle(700, 18px, 100%);
  width: 118px;
  height: 46px;
  border: none;
  background: $white-color;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: all 0.5s ease;

  &:hover &__icon svg>path {
    fill: $base-color;
    transition: all 0.5s ease;
  }

  &:hover &__name {
    background: linear-gradient(92.84deg,
        $base-color -47.72%,
        $base-color 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: all 0.5s ease;
  }

  &__icon {
    transition: all 0.5s ease;
    margin-right: 10px;
    vertical-align: middle;
  }

  &__name {
    transition: all 0.5s ease;
    margin-bottom: 15px;
  }
}