@import "../../../styles/variables";

.buttons {
  display: flex;
  gap: 15px;
  align-items: center;

  @include setTextStyle(400, 22px, 100%);

  width: 140px;

  &__input {
    @include setTextStyle(500, 20px, 100%);
    text-align: center;

    width: 40px;
    height: 35px;

    border: 3px solid #f1722839;
    border-radius: 6px;

    padding: 5px 0;

    outline: none;

    transition: all $transition-long ease;

    background-color: transparent;

    cursor: pointer;

    &:focus,
    &:active {
      border-color: $base-color;

      transition: all $transition-long ease;
    }
  }

}

.button {
  width: 35px;
  height: 35px;

  border-radius: 50%;
  background-color: $base-color;
  color: $white-color;
  border: 2px solid transparent;

  transition: color $transition-long ease, background-color $transition-long ease;

  &:hover {
    border: 2px solid $base-color;
    color: $base-color;
    background-color: $white-color;

    transition: transform $transition-short ease, color $transition-long ease, background-color $transition-long ease;

    transform: translateY(1px);
  }
}

.disabledBtn {
  opacity: 0.5;
}