{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:perfectionist/recommended-natural"
  ],
  "rules": {
    "perfectionist/sort-interfaces": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
