@import "../../../styles/variables";

.productPage {
  padding-top: 78px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding-top: 78px;
  margin-bottom: 50px;
}

.placeholder {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}