@import "../../App/styles/variables";

.productPage {
  padding-top: 80px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding-top: 70px;
}

.placeholder {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

@media(max-width:485px) {
  .product {
    padding-top: 90px;
  }
}