@import "../../../styles/variables";

.restaurant {
  min-height: 80vh;
}

.menuList {
  display: grid;
  column-gap: 36px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  justify-items: center;

  padding-bottom: 80px;

  &__item {
    max-width: 343px;
    height: 503px;

    margin-right: auto;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 30px;
}

.alert {
  font-size: 28px;
  margin-bottom: 100px;
}

.filters__sortBy {
  margin-left: auto;
}

@media(max-width:1540px) {
  .filters__sortBy {
    margin: 0;
  }
}

@media(max-width:390px) {
  .menuList__item {
    height: 495px;
  }
}

@media(max-width:662px) {
  .menuList__item {
    height: 500px;
    margin: 0 auto;
  }
}

@media(max-width:450px) {
  .menuList {
    grid-template-columns: repeat(auto-fill, minmax(283px, 1fr));
  }
}

@media(max-width:365px) {
  .menuList {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

    &__item {
      height: 390px;
      max-width: 200px;
    }
  }
}