@import "../../App/styles/variables";

.restaurant {
  padding-top: 50px;
  min-height: 100vh;
}

.menuList {
  display: grid;
  column-gap: 36px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, 343px);
  padding-bottom: 80px;

  &__item {
    width: 343px;
    height: 503px;
  }

}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;

  &__sortBy {
    margin-left: auto;
  }
}