@import "../../../styles/variables";

.cart {
  padding-top: 78px + 60px;

  background: linear-gradient(rgba(255, 206, 103, 0.22) -42.47%,
      rgba(253, 237, 202, 0) 100%);

  min-height: 100vh;

  &__title {
    @include setTextStyle(700, 28px, 120%);
    color: $text-color;
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    padding-top: 30px;
  }

  &__list {
    max-width: 1250px;

    margin-bottom: 70px;
  }

  &__name {
    @include setTextStyle(700, 36px, 112%);
    color: $base-color;

    margin-bottom: 37px;
    padding-top: 30px;
  }

  &__empty {
    @include setTextStyle(400, 20px, 112%);
    color: $main-color-gray;
  }

  &__result {
    @include setTextStyle(700, 22px, 120%);
    color: rgb(66, 66, 66);

    margin-bottom: 20px;
    padding-right: 20px;

    &_color {
      color: $base-color;
    }
  }

  &__image {
    max-width: 50%;

    border-radius: 15px;
    margin-bottom: 20px;

    filter: blur(1px);
  }

  &__empty {
    text-align: center;
  }

  &__clearIcon {
    color: #9e9e9e;

    margin-right: 8px;

    transition: all $transition-long ease;
  }

  &__clearBtn {
    display: block;

    @include setTextStyle(400, 22px, 120%);
    color: #9e9e9e;

    background-color: transparent;

    margin-left: auto;

    transition: all $transition-long ease;

    &:hover {
      color: $text-color;
      transition: all $transition-long ease;
    }
  }

  &__btnOrder {
    width: fit-content;
  }

  &__orderInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 70px;
  }
}

.cart__clearBtn:hover .cart__clearIcon {
  color: $text-color;

  transition: all $transition-long ease;
}

.cart__restaurantName {
  @include setTextStyle(700, 28px, 120%);
  color: $base-color;

  margin-bottom: 4px;
}

.cart__links {
  @include setTextStyle(400, 22px, 120%);
}

.cart__linkItem {
  color: $base-color;
  font-weight: 600;

  transition: all $transition-long ease;

  &:hover {
    color: $base-color;
    transition: all $transition-long ease;
  }
}

.popup__name {
  color: #b14a09;
  font-weight: 700;
}



@media (max-width:1350px) {
  .cart__list {
    max-width: 900px;
  }

  .cart__result {
    max-width: calc(100% - 407px);
  }
}

@media (max-width:800px) {
  .cart__result {
    max-width: 100%;
  }
}

@media (max-width:500px) {
  .cart__orderBtn {
    width: 100%;
    padding: 21px;
  }
}