@import "../../App/styles/variables";

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;

  font-size: 24px;
  color: black;

  min-height: 250px;
  width: 560px;

  padding: 30px;
  margin: 0;
  margin-right: 30px;

  background-image: url('.../../../../../../public/images/find-food/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: $border-radius-8;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.15);


  transform: translate(-50%, -50%);

  &__title {
    margin-bottom: 20px;
  }

  &__name {
    @include setTextStyle($font-bold, 22px, 120%);
    color: rgb(66, 66, 66);
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: left;

  }

  &__btnOk,
  &__btnClose {
    @include setTextStyle(900, 18px, 100%);
    color: $base-color;
    text-align: center;

    width: 80px;
    height: 50px;

    border-radius: $border-radius-8;
    text-transform: uppercase;
    background-color: $white-color;
    background-size: 200%;

    transition: all $transition-long ease;

    &:hover {
      transition: all $transition-long ease;
      box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.5), 0px 20px 40px rgba(250, 99, 35, 0.5);
    }
  }
}

.popupWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  max-width: 100%;
  min-height: 100%;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.3);
}