@import "../../App/styles/variables";

.errorPage {
  font-family: $font-family;

  padding-top: 138px;

  background: linear-gradient(rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

  &__container {
    max-width: 1540px;
    padding: 30px;
    margin: 0 auto;
  }

  &__text {
    @include setTextStyle(700, 32px, 120%);
    color: $black-color;
    text-align: center;
    
    margin-bottom: 20px;
  }
}