@import "../../../styles/variables";


.search {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  max-width: 856px;

  &__btn {
    max-width: 199px;
  }
}