@import "../../../styles/variables";

.popup {
  position: absolute;

  z-index: 999;

  left: 24px;
  top: 86px;

  background: $white-color;
  border-radius: 8px;

  min-width: $input-min-width;
  width: calc(100% - 199px - 16px - 48px);

  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .15);

  transition: all $transition-short ease;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    box-shadow: 5px 5px 5px 0 rgba(255, 116, 116, 0.5647058824);
  }


}

.popup__item {
  @include setTextStyle(400, 18px, 100%);
  color: $text-color;

  padding: 10px 20px;

  transition: all $transition-short ease;

  border-bottom: 1px solid rgba(0, 0, 0, 0.19);

  cursor: pointer;
}

.popup__item__active {
  color: #ff7474;

  transition: all $transition-short ease;
}

.popup__item:focus-visible {
  outline: none;
}

.popup__item:hover {
  color: #ff7474;

  transition: all $transition-short ease;
}

.popup__item:last-child {
  border: none;
}

.popup__errorMessage {
  @include setTextStyle(400, 18px, 100%);
  color: $text-color;

  padding: 10px 20px;
}

@media(max-width:555px) {
  .popup {
    width: calc(100% - 48px);
  }
}