@import "../../App/styles/variables";

.delivery {
  @include setFontSize(700, 18px, 100%);
  color: #757575;
  padding: 10px 24px;
  width: 148px;
  height: 38px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
}

.delivery__btnName {
  padding-left: 9px;
  margin-bottom: 5px;
  vertical-align: top;
}

.delivery__btnIcon span svg {
  vertical-align: middle;
}

.btnActive {
  background-color: rgba(241, 114, 40, 0.1);
  color: $base-color;
  transition: all 50ms;
}

.btnActive span>svg>path {
  fill: $base-color;
}