@import "../../App/styles/variables";

.buttonOrder {
  @include setFontSize(900, 18px, 100%);
  width: 407px;
  height: 60px;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-size: 200%;
  transition: all 0.3s ease;

  &__icon {
    margin-left: 10px;
  }

  &:hover {
    background: linear-gradient(182.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
    transition: all 0.3s ease;
  }
}