*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Source Sans Pro', "Arial", sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1540px;
  padding: 0 30px;
  margin: 0 auto;
}

.alert-enter {
  opacity: 0;
  transform: scale(1);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
  transition: color 0.15s ease;

  &:hover {
    color: var(--base-color);
    transition: color 0.15s ease;
  }
}

@media(max-width:320px) {

  .container {
    max-width: 1510px;
    padding: 0 15px;
  }
}