@import "../../App/styles/variables";

.searchFoodBlock {
  background: #fefaf1;
}

.searchFood {
  position: relative;

  padding-top: 82px;

  &__title {
    @include setFontSize(700, 43px, 112%);
    color: #212121;
    margin-bottom: 116px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 34.2px;
    justify-content: center;
  }

  &__item {
    text-align: center;
    max-width: 218px;
  }

  &__up {
    margin-bottom: 26px;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
  }

  &__label {

    @include setFontSize(700, 22px, 120%);
    color: #424242;
  }

  &__btnView {
    position: absolute;
    top: 91px;
    right: 212.5px;

    @include setFontSize(700, 18px, 100%);
    color: $primary-color;
    background-color: transparent;

    padding: 20px 0;
  }

  &__btnViewArrow {
    margin-left: 10px;
  }

  &__slider {
    margin-bottom: 100px;
  }

  &__item {
    cursor: pointer;
    margin: 0 auto;
  }

  &__btn {
    position: absolute;
    filter: drop-shadow(0px 5px 8px rgba(222, 151, 0, 0.24)) drop-shadow(0px 14px 32px rgba(255, 178, 14, 0.29));

    &_right {
      top: 82px;
      right: 18px;
      position: absolute;
    }

    &_left {
      top: 82px;
      right: 110px;
      position: absolute;
    }
  }
}

.menuList {
  display: grid;
  column-gap: 16px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  padding-bottom: 80px;
  justify-items: center;

  &__item {
    max-width: 357px;
    height: 525px;
  }
}

.searchFood .searchFood__slider {
  position: static;
}

@media(max-width:700px) {
  .searchFood__btnView {
    right: 18px;
    top: 158px;
  }
}