@import "../../App/styles/variables";

.cartButton {
  background-color: $white-color;
  width: 60px;
  height: 46px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 174, 0, 0.26) 0px 5px 10px,
    rgba(255, 174, 0, 0.29) 0px 20px 40px;
  position: relative;

  &:hover &__icon {
    color: $base-color;
    transition: color 0.3s ease;
  }

  &__icon {
    color: rgb(255, 138, 0);
    transition: color 0.3s ease;
  }

  &__counter {
    @include setFontSize(400, 14px, 17px);
    color: $white-color;
    position: absolute;
    padding: 0px 8px;
    top: -5px;
    right: -5px;
    text-align: center;
    background-color: rgb(255, 138, 0);
    border-radius: 8px;
    height: 16px;
  }
}