@import "../../App/styles/variables";

.label {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $primary-color;
  border-radius: 0px 32px 0px 14px;
  width: 140px;
  height: 83px;
  padding: 3px 49px 10px 18px;
  text-align: right;
  color: $white-color;

  &__discount {
    @include setFontSize(700, 68px, 106%);
  }

  &__discountPercent {
    @include setFontSize(700, 35px, 120%);
    position: absolute;
    right: 20px;
    bottom: 30px;
  }

  &__discountOff {
    @include setFontSize(400, 22px, 120%);
    position: absolute;
    right: 24px;
    bottom: 12px;
  }
}

.smallLabel {

  width: 100px;
  height: 50px;

  &__discount {
    @include setFontSize(700, 40px, 106%);
  }

  &__discountPercent {
    @include setFontSize(700, 24px, 120%);
    position: absolute;
    right: 17px;
    bottom: 19px;
  }

  &__discountOff {
    @include setFontSize(400, 18px, 120%);
    position: absolute;
    right: 18px;
    bottom: 4px;
  }
}