@import "../../App/styles/variables";

.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  row-gap: 5px;

  &__deliver {
    margin-right: 12px;
  }

  &__icon {
    margin-right: 9px;
    width: 14px;
    height: 25px;
    color: $primary-color;
  }

  &__location {
    @include setFontSize(400, 18px, 140%);
    color: #424242;
    margin-right: 4px;
  }

  &__location_weight {
    font-weight: 700;
    margin-right: 10px;
  }
}