@import "../../../styles/variables";

.menuButton {
  position: relative;

  width: 35px;
  height: 30px;

  background-color: transparent;

  @media(max-width:410px) {
    width: 25px;
  }
}

.menuButton__border {
  position: absolute;

  width: 100%;
  height: 4px;

  background-color: $base-color;
  border-radius: $border-radius-20;

  transition: transform $transition-long linear;
}

.menuButton__border_top {
  bottom: 0;
  left: 0;
}

.menuButton__border_center {
  bottom: 10px;
  left: 0;
}

.menuButton__border_bottom {
  bottom: 20px;
  left: 0;
}

.buttonClose {
  transition: transform 300ms ease-out;
}

.buttonClose .menuButton__border_top,
.buttonClose .menuButton__border_bottom {
  top: 13px;
}

.buttonClose .menuButton__border_top {
  transform: rotate(45deg);
}

.buttonClose .menuButton__border_center {
  display: none;
}

.buttonClose .menuButton__border_bottom {
  transform: rotate(-45deg);
}

.buttonClose .menuButton__border {
  background-color: $base-color;
}

.menu {
  display: block;

  padding: 50px;

  max-width: 400px;
  height: auto;

  top: 78px;
  right: 0;

  position: absolute;

  background-color: $white-color;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0 $border-radius-8;

  animation: fadeIn 0.4s forwards;
}

.menu__item {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: $text-color;
}

.menu__link {
  @include setTextStyle($font-bold, 18px, 100%);
  color: $text-color;
  text-decoration: none;

  background-color: transparent;

  position: relative;

  cursor: pointer;
}

.menu__link::before {
  position: absolute;

  content: "";

  left: 0;
  bottom: -3px;

  width: 100%;
  height: 3px;

  background-color: transparent;
  border-radius: 10px;

  transition: all $transition-short ease;
}

.menu__link:hover::before {
  background-color: $base-color;

  transition: all $transition-short ease;
}



@keyframes fadeIn {
  from {
    transform: translate(100%);
  }

  to {
    transform: translate(0%);
  }
}


.menuClosed {
  display: none;
}

.mobileMenu {
  display: none;
}

@media(max-width:1190px) {

  .mobileMenu {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}