@import "../../../../styles/variables";

.searchButton {
  @include setTextStyle(700, 18px, 100%);
  color: $white-color;

  width: 199px;
  height: 60px;

  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  border-radius: $border-radius-8;
  mix-blend-mode: darken;

  transition: all $transition-short ease;

  &__icon {
    margin-right: 10px;
  }

  &__icon span svg {
    vertical-align: middle;
  }

  &:hover {
    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);

    transition: all $transition-short ease;
  }
}