@import "../../../styles/variables";

.productPage {
  padding-top: $header-max-height + $padding-top;

  min-height: 100vh;
}

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-bottom: 50px;
}

.placeholder {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.title {
  @include setTextStyle(700, 28px, 120%);
  color: $text-color;

  margin-bottom: 50px;
}

.productPage__message {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: rgb(66, 66, 66);

  margin-bottom: 20px;
}

.productPage__link {
  color: #f17228;
  font-weight: 600;
}

@media(max-width:$mobile-menu-visible) {

  .productPage {
    padding-top: $header-min-height + $padding-top;
  }
}