.balloon {
  display: none;

  position: absolute;
  z-index: 10;
  left: 53%;
  bottom: 63%;

  background-color: white;

  max-width: 350px;

  padding: 10px 43px 10px 10px;

  box-shadow: -5px 5px 25px #808080;
  font-size: 18px;
}

.balloon__title,
.balloon__coords {
  margin-bottom: 5px;
}

.balloon__title,
.balloon__status {
  font-weight: 700;
}



.balloon__address {
  margin-bottom: 5px;
}

.balloon__logo {
  width: 100px;
  height: auto;
}

.balloon__closeIcon {
  transition: all 0.2s ease;

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover path {
    fill: #f75900;

    transition: all 0.2s ease;
  }
}

.balloon__image {
  max-width: 100%;
  height: auto;
}

.balloon__close {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;

  padding: 5px;
}

.visible {
  display: block;
}