.balloon {
  display: none;

  position: absolute;
  z-index: 10;
  left: 53%;
  bottom: 63%;

  background-color: white;

  max-width: 350px;

  padding: 10px 42px 10px 10px;

  box-shadow: -5px 5px 5px #808080;
}

.balloon__link {}

.balloon__logo {
  width: 100px;
  height: auto;
}

.balloon__closeIcon {
  transition: all 0.2s ease;

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover path {
    fill: #f75900;

    transition: all 0.2s ease;
  }
}

.balloon__image {
  max-width: 100%;
  height: auto;
}

.balloon__close {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;

  padding: 5px;
}

.map {
  position: relative;

  max-width: 856px;
  min-height: 390px;

  border-radius: 15px;

  padding: 10px 0;
}

.pointer {
  position: absolute;
  top: 40.55%;
  left: 48.4%;
  z-index: 20;

  cursor: pointer;

  transition: all 0.3s ease;
}

.placemark {

  transition: all 0.3s ease;

  path {
    fill: #f75900;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.pointer.active {

  transition: all 0.3s ease;
  transform: translateY(-15px);
}

.placemark.active {

  path {
    fill: #757575;

    transition: all 0.3s ease;
  }
}

.visible {
  display: block;
}

.preloader {
  position: absolute;
  top: 4%;
  left: 7%;
}