.map {
  position: relative;

  max-width: 856px;
  min-height: 390px;

  border-radius: 15px;

  padding: 10px 0;
}

.pointer {
  position: absolute;
  top: 40.55%;
  left: 48.4%;
  z-index: 20;

  cursor: pointer;

  transition: all 0.3s ease;
}

.placemark {

  transition: all 0.3s ease;

  path {
    fill: #f75900;
  }

  svg {
    width: 32px;
    height: 40px;
  }
}

.pointer.active {
  transition: all 0.3s ease;
  transform: translateY(-15px);
}

.placemark.active {

  path {
    fill: #757575;

    transition: all 0.3s ease;
  }
}

.preloader {
  position: absolute;
  top: 1px;
  left: 2px;
}