@import "../../../styles/variables";

.orderAlgorithmBlock {
  background: linear-gradient(180deg,
      rgba(255, 206, 103, 0.22) -42.47%,
      rgba(253, 237, 202, 0) 100%);
}

.orderAlgorithm {
  padding: 80px 74px;

  &__title {
    @include setTextStyle($font-bold, 43px, 112%);
    color: $base-color;
    text-align: center;

    margin-bottom: 71px;
  }

  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
  }
}

@media(max-width:1530px) {
  .orderAlgorithm__list {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media(max-width:800px) {
  .orderAlgorithm__list {
    grid-template-columns: repeat(1, minmax(180px, 1fr));
  }
}

@media(max-width:$mobile-l) {
  .orderAlgorithm {
    padding: 40px 0;
  }
}