@import "../../App/styles/variables";

.card {
  width: 357px;
  height: 415px;

  &__up {
    margin-bottom: 32px;
    position: relative;
    max-height: 301px;
    width: 357px;
    height: 301px;
  }

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    object-fit: cover;
  }

  &__discount {
    @include setFontSize(700, 68px, 106%);
    color: $white-color;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 140px;
    height: 83px;
    padding: 3px 49px 10px 18px;
    border-radius: 0px 32px 0px 14px;
  }

  &__discount_size {
    @include setFontSize(700, 35px, 120%);
    position: absolute;
    right: 20px;
    bottom: 30px;
  }

  &__discount_off {
    @include setFontSize(400, 22px, 120%);
    position: absolute;
    right: 24px;
    bottom: 12px;
  }

  &__name {
    @include setFontSize(700, 22px, 120%);
    color: #424242;
    margin-bottom: 14px;
  }

  &__text {
    @include setFontSize(700, 22px, 120%);
    background: rgba(241, 114, 40, 0.2);
    color: $base-color;
    text-align: center;
    padding: 8px 16px;
    width: 204px;
    height: 42px;
    border-radius: 8px;
  }
}