@import "../../../../styles/variables";

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @include setTextStyle(700, 18px, 100%);

  padding: 13.5px 24px;

  border: none;
  border-radius: $border-radius-8;

  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);

  background: $white-color;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  transition: all $transition-long ease;

  &:hover {
    transform: translateY(1px);
    transition: transform $transition-short ease;
  }

  &:hover &__icon path {
    fill: $base-color;

    transition: all $transition-long ease;
  }

  &:hover &__name {
    background: linear-gradient(92.84deg,
        $base-color -47.72%,
        $base-color 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__icon {
    transition: all $transition-long ease;
  }
}