.balloon {}

.balloon__link {}

.balloon__logo {
  width: 100px;
  height: auto;
}

.balloon__image {
  max-width: 100%;
  height: auto;
}

.balloon__rest {}

.balloon__contact {}

.balloon__contact-link {}

.balloon__address {}

.map {
  max-width: 856px;
  min-height: 390px;
  border-radius: 15px;
  padding: 10px 0;
  position: relative;
}

.pointer {
  position: absolute;
  top: 48%;
  left: 50%;
  transition: all 0.3s ease;
  z-index: 20;
}

.placemark {

  transition: all 0.3s ease;

  path {
    fill: #f75900;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.pointer.active {

  transition: all 0.3s ease;
  transform: translateY(-2px);
}

.placemark.active {

  path {
    fill: #757575;
    transition: all 0.3s ease;
  }
}