.balloon {}

.balloon__link {}

.balloon__logo {
  width: 100px;
  height: auto;
}

.balloon__image {
  max-width: 100%;
  height: auto;
}

.balloon__rest {}

.balloon__contact {}

.balloon__contact-link {}

.balloon__address {}

.map {
  max-width: 856px;
  min-height: 390px;
  border-radius: 15px;
  padding: 10px 0;
}