.popup {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 60px;
  background: #fff;
  width: calc(100% - 199px - 16px);
  transition: all 0.2s ease;
  border-radius: 8px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .15);
  padding-top: 15px;
}

.card {
  margin-bottom: 15px;
  padding: 0 20px;
  display: flex;
  gap: 30px;
  justify-content: left;

  &__left {
    height: 85px;
    width: 100px;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__price {}
}