.popup {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 60px;
  background: #fff;
  width: calc(100% - 199px - 16px);
  transition: all 0.2s ease;
  border-radius: 8px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .15);
  padding-top: 15px;
}

.card {
  margin-bottom: 15px;
  padding: 0 20px;
  display: flex;
  gap: 30px;
  justify-content: left;

  &__left {
    height: 85px;
    width: 100px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #424242;
    min-height: 45px;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: rgb(66, 66, 66);
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 30px;
  }

  &_priceDiscount {
    position: relative;
    color: rgba(130, 126, 126, 0.9);
    font-weight: 500;
  }
}