@import "../../App/styles/variables";


.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;


  &__input,
  &__input::placeholder {
    @include setTextStyle($font-normal, 18px, 140%);
  }

  &__input {
    background-color: $main-color-white;
    color: $text-color;

    width: 100%;
    height: 49px;

    border-radius: $border-radius-8;
    border: 0 solid;

    padding: 11.5px 10px 12.5px 46px;
  }



  &__inputWrapper {
    position: relative;

    width: calc(100% - 199px - 16px);
  }

  &__input::placeholder {
    color: #9e9e9e;
  }

  &__input:focus {
    outline: none;
  }

  &__inputIcon {
    position: absolute;

    left: 17px;
    top: 21px;

    path {
      fill: #ff7474;
    }
  }

  &__clearIcon {
    position: absolute;

    width: 35px;
    height: 35px;

    right: 10px;
    top: 7px;

    cursor: pointer;

    path {
      fill: #ff747490;
    }
  }
}