@import "../../App/styles/variables";

.searchPanel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;

  padding: 24px;

  min-height: 108px;
  max-width: 856px;

  background-color: $white-color;
  max-width: 856px;
  border-radius: 0 0 8px 8px;

}

