@import "../../App/styles/variables";

.cardBig {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  max-width: 100%;

  filter: drop-shadow(0px 14px 15px rgba($drop-shadow, 0.06)) drop-shadow(0px 27px 82px rgba($drop-shadow, 0.28));

  border-radius: $border-radius-16;
  border: none;

  margin-bottom: 80px;

  &__image {
    max-width: 961px;
  }

  &__img {
    display: block;

    max-width: 100%;
    height: auto;

    border-radius: $border-radius-16 0 0 $border-radius-16;
  }

  &__description {
    display: flex;
    flex-direction: column;

    height: 512px;
    max-width: 519px;

    padding: 102px 56px 56px 56px;

    background: $white-color;
    border-radius: 0 $border-radius-16 $border-radius-16 0;
  }

  &__title {
    @include setTextStyle($font-bold, 48px, 110%);
    color: $text-color ;

    margin-bottom: 19px;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
  }

  &__text {
    @include setTextStyle($font-medium-600, 18px, 140%);
    color: rgba(97, 97, 97, 0.69);

    margin-bottom: auto;
  }
}



.cardBig {
  &__img_right {
    flex-direction: row-reverse;
  }

  &__img_border {
    border-radius: 0 $border-radius-16 $border-radius-16 0;
  }

  &__description_border {
    border-radius: $border-radius-16 0 0 $border-radius-16;
  }
}

@media(max-width: 1570px) {
  .cardBig {
    &__description {
      border-radius: 0 0 $border-radius-16 $border-radius-16;
      max-width: 961px;
    }

    &__img {
      border-radius: $border-radius-16 $border-radius-16 0 0;
    }
  }
}

@media(max-width:700px) {
  .cardBig {
    &__description {
      padding: 56px 28px 28px 28px;
    }

    &__btn {
      width: 100%;
    }
  }

  .cardBig__title {
    font-size: 28px;
  }
}

@media(max-width:325px) {
  .cardBig__description {
    height: 550px;
  }
}