@import "../../../../styles/variables";

.cartLink {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 46px;

  border-radius: 8px;
  background-color: $white-color;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);

  &:hover {
    transform: translateY(1px);
    transition: transform $transition-short ease;
  }

  &:hover &__icon {
    color: $base-color;
    transition: color $transition-long ease;
  }

  &__icon {
    color: rgb(255, 138, 0);
    transition: color $transition-long ease;
  }

  &__counter {
    position: absolute;

    @include setTextStyle(400, 14px, 17px);
    color: $white-color;
    text-align: center;

    top: -5px;
    right: -5px;

    background-color: rgb(255, 138, 0);
    border-radius: 8px;

    height: 16px;

    padding: 0px 8px;
  }
}